<h1>Danh sách sản phẩm</h1>
<table>
  <tr>
    <th>STT</th>
    <th>Tên sản phẩm</th>
    <th>Giá sản phẩm</th>
    <th>Mô tả sản phẩm</th>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
  </tr>
</table>
<!--Điểm mạnh của Angular: Two way binding-->
<input type="id" placeholder="Nhập id" [(ngModel)]="product.id">
<input type="text" placeholder="Nhập tên sản phẩm" [(ngModel)]="product.name">
<input type="text" placeholder="Nhập giá sản phẩm" [(ngModel)]="product.price">
<input type="text" placeholder="Nhập mô tả sản phẩm" [(ngModel)]="product.description">
<h1>Demo binding</h1>
<p>{{product.id}}</p>
<p>{{product.name}}</p>
<p>{{product.price}}</p>
<p>{{product.description}}</p>
